body {
  font-family: "cursive";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 300;
  
}

.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #161a24 0%, #062952 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  
  
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
img {
  max-width: 100%;
  display: block;
}


.main-nav {
  list-style-type: none;
  display: none;
  font-family: cursive;
  font-style: italic;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav li {
  margin: .5em 0;
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
  margin: .25em 0;
}
nav a:hover,
nav a:focus {
   color: #1792d2;
}

.current-page {
   border-bottom: 1px solid #707070;
}

.current-page:hover {
   color: #707070;
}

.article-featured {
   border-bottom: #707070 1px solid;
   padding-bottom: 2em;
   margin-bottom: 2em;
}







.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}
@media (min-width: 675px) {
  .container-nav,
  .container-flex {
     flex-direction: row;
  }
  
  .container-nav{
     align-items: center;
  }
  
  main {
     width: 70%;
  }

  aside {
     width: 25%;
     min-width: 200px;
     margin-left: 1em;
  }
  
  nav ul {
     flex-direction: row;
  }
  
  nav li {
     margin-left: 2em;
  }
  
  
  
}

.active {
  display: block;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}